@import "@acab/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bl_shawshank {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.bl_shawshank_static {
  width: 208px;
}
.bl_shawshank_wheel {
  position: relative;
  width: 100%;
  height: 100%;
}
.bl_shawshank_wheelText {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  transform-origin: 150% 50%;
}
.bl_shawshank_wheelText__1 {
  transform: rotate(0deg);
}
.bl_shawshank_wheelText__2 {
  transform: rotate(-90deg);
}
.bl_shawshank_wheelText__3 {
  transform: rotate(-180deg);
}
